{% extends 'lista.html' %}
{% block columnas %}
    <tr>
        <th scope="col">Id</th>
        <th scope="col">Cantidad Subsidios</th>
        <th scope="col">Cantidad Consumo</th>
        <th scope="col">Recibo de luz</th>
        <th scope="col">Verificado</th>
        <th scope="col">DUI</th>
        <th scope="col">Beneficiario</th>
        <th scope="col">Departamento</th>
        <th scope="col">Municipio</th>
        <th scope="col">Opciones</th>
    </tr>
{% endblock %}

{% block filas %}
    {% for sub in object_list %}
        <tr>
            <td>{{ sub.id }}</td>
            <td>{{ sub.cantidad_subsidio }}</td>
            <td>{{ sub.cantidad_consumo }}</td>
            <td>
                <img src="/media/{{ sub.recibo_luz }}" class="img-fluid d-block mx-auto" style="width: 20px; height: 20px">
            </td>
            {% if sub.verificado %}
                {% if sub.aprobado %}
                    <td>
                        <span style="color: #5fcd0e;">
                            <i class="fas fa-check"></i> Aprobado
                        </span>
                    </td>
                {% else %}
                    <td>
                        <span style="color: #ac0505;">
                            <i class="fas fa-times"></i> Rechazado
                        </span>
                    </td>
                {% endif %}
            {% elif sub.aprobado %}
                 <td>
                        <span style="color: #5fcd0e;">
                            <i class="fas fa-check"></i> Aprobado
                        </span>
                 </td>
            {% else %}
                <td>
                <span style="color: #e55a0b;">
                <i class="fas fa-spinner"></i>En proceso verifcación
                </span>
                </td>
            {% endif %}

            <td>{{ sub.pertenece.dui }}</td>
            <td>{{ sub.pertenece.nombre }} {{ sub.pertenece.apellido }}</td>
            <td>{{ sub.pertenece.departamento }}</td>
            <td>{{ sub.pertenece.municipio }}</td>
            <td>
                <a href="{% url 'apps:subsidio_luz_edit' sub.id%}" type="button" class="btn btn-warning btn-xs btn-flat">
                    <i class="fas fa-edit"></i></a>
                <a href="{% url 'apps:subsidio_luz_delete' sub.id %}" type="button" class="btn btn-danger btn-xs btn-flat">
                    <i class="fas fa-trash"></i></a>
            </td>
        </tr>
    {% endfor %}

{% endblock %}
